<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.danlai.nidepuzi">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="com.danlai.nidepuzi.permission.MIPUSH_RECEIVE"/>

    <permission
        android:name="com.danlai.nidepuzi.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>


    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="donut">

        <meta-data
            android:name="design_width"
            android:value="750"/>
        <meta-data
            android:name="design_height"
            android:value="1334"/>

        <meta-data
            android:name="com.danlai.library.widget.glidemoudle.GlideConfig"
            android:value="GlideModule"/>
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule"/>

        <activity
            android:name=".ui.activity.main.SplashActivity"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.main.TabActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.BaseActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/products/promote_today"
                    android:scheme="com.danlai.ndpz"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/products/promote_previous"
                    android:scheme="com.danlai.ndpz"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/home"
                    android:scheme="com.danlai.ndpz"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.user.MessageActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.InviteActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.product.CategoryActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.product.CategoryListActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.product.SearchActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.product.CategoryProductActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.SettingActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.shop.ImagePagerActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.product.ProductDetailActivity"
            android:theme="@style/AppTheme.TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/products/modellist"
                    android:scheme="com.danlai.ndpz"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/products/modelist"
                    android:scheme="com.danlai.ndpz"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/products"
                    android:scheme="com.danlai.ndpz"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.shop.NinePicActivity"
            android:theme="@style/AppTheme.TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/vip_0day"
                    android:scheme="com.danlai.ndpz"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.trade.CartActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/shopping_cart"
                    android:scheme="com.danlai.ndpz"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.trade.PayInfoActivity"
            android:theme="@style/AppTheme.TransparentActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/trades/purchase"
                    android:scheme="com.danlai.ndpz"/>
            </intent-filter>
        </activity>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <data android:scheme="tencent100371282"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoDisplay"/>
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"/>-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".util.pay.PayActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.TransparentActivity.NoTitle"/>
        <!-- 支付宝 sdk -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"/>
        <activity
            android:name=".base.BaseWebViewActivity"
            android:theme="@style/AppTheme.TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/webview"
                    android:scheme="com.danlai.ndpz"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.user.LoginActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.BaseActivity"/>
        <activity
            android:name=".ui.activity.user.PhoneLoginActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.AllCouponActivity"
            android:theme="@style/AppTheme.TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/usercoupons/method"
                    android:scheme="com.danlai.ndpz"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.user.SelectCouponActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.ChangeAddressActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.AddressActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.AddAddressActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.AddressSelectActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.SafeActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.InformationActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.trade.AllOrderActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.trade.CommonScanActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.trade.LogisticsCompanyActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.trade.WriteLogisticsInfoActivity"
            android:theme="@style/AppTheme.TransparentActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".ui.activity.trade.LogisticsActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.trade.OrderDetailActivity"
            android:theme="@style/AppTheme.TransparentActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data
                    android:host="app"
                    android:path="/v1/trades/details"
                    android:scheme="com.danlai.ndpz"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.trade.RefundDetailActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.trade.WaitSendAddressActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.trade.AllRefundActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.trade.ApplyRefundActivity"
            android:theme="@style/AppTheme.TransparentActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".ui.activity.trade.ApplyReturnGoodsActivity"
            android:theme="@style/AppTheme.TransparentActivity"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".ui.activity.shop.FansActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.shop.AchievementActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.shop.CustomIncomeActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.shop.OrderAchieveActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.WxDrawCashActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.DrawCashActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.DrawCashInfoActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.BankDrawCashActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.ChooseBankActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.LoginBindPhoneActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.main.AboutCompanyActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.AccountDetailActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.shop.VisitActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.shop.IncomeActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.shop.SaleOrderActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.AccountLoginActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.VerifyPhoneForgetActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>
        <activity
            android:name=".ui.activity.user.SetPasswordActivity"
            android:theme="@style/AppTheme.TransparentActivity"/>

        <service
            android:name=".service.UpdateService"
            android:exported="false"/>

        <receiver
            android:name=".receiver.UpdateBroadReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="action.retry.download"/>
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.danlai.nidepuzi.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice"/>
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice"/>
        <!--注：此service必须在3.0.1版本以后（包括3.0.1版本）加入-->
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true"/>
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true"/>
        <!--注：此service必须在2.2.5版本以后（包括2.2.5版本）加入-->
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.MessageReceiver"
            android:exported="true">
            <!--这里com.xiaomi.mipushdemo.DemoMessageRreceiver改成app中定义的完整类名-->
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>